<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Préférences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>
    {{ this.userInfos.username }}
  </h3>

  <form [formGroup]="passwordForm">
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmation du mot de passe</ion-label>
      <ion-input
        formControlName="passwordConfirmation"
        type="password"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="
        !passwordForm.valid &&
        passwordForm.controls.password.dirty &&
        passwordForm.controls.passwordConfirmation.dirty
      "
    >
      <p>
        <ion-text color="danger">
          Les mots de passe doivent correspondre !
        </ion-text>
      </p>
    </ion-item>
  </form>
  <form [formGroup]="ageForm">
    <h3>
      Vos informations
    </h3>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input formControlName="age" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="!ageForm.controls.age.valid && ageForm.controls.age.dirty">
      <p>
        <ion-text color="danger">
          {{ ageForm.controls.age.errors?.error }}
        </ion-text>
      </p>
    </ion-item>
  </form>

  <ion-button color="primary" (click)="save()">
    Mettre à jour mes informations
  </ion-button>
  <ion-button color="primary" (click)="logout()">
    Mettre à jour mes informations
  </ion-button>
</ion-content>
