p {
  font-size: 0.8em;
}

ion-slides {
  height: 100%;
}

ion-item {
  background-color: red;
}

ion-slide {
  display: block;
}

ion-label,
.select-text {
  margin-left: 10px;
}

.invalid {
  background-color: #ea6153;
}
