<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Ajouter un commentaire</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="submitCommentForm">
      <ion-textarea formControlName="comment"></ion-textarea>
    </form>
  </ion-card-content>

  <ion-footer *ngIf="user.username == com.fk_users">
    <ion-button (click)="save()">Ajouter</ion-button>
  </ion-footer>
</ion-card>

<ion-card *ngFor="let com of comments">
  <ion-card-header>
    <ion-card-subtitle>{{ com.username }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ com.comment }}
  </ion-card-content>

  <ion-footer *ngIf="user.username == com.fk_users">
    <ion-button color="danger" (click)="delete(com.id)">Supprimer</ion-button>
  </ion-footer>
</ion-card>
